* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html {
    background: #151515;
}

.title {
    display: none;
}

.activity_check p {
	height: 40px;
	font-size: 28px;
	text-align: center;
}

.activity_check input {
	height: 25px;
	padding-left: 5px;
	background-color: #303030;
	-webkit-text-fill-color: #D0D0D0;
	border: 0;
	margin-left: 15px;
	outline: 0;
	width: 93px;
	padding-right: 3px;
}

.activity_check #hidden {
	display: none;
}

.activity_check .server {
	cursor: pointer;
}

.activity_check .server:hover {
	color: #E5E5E5;
	background: #505050;
}

.activity_check .select_server {
	display: none;
	flex-direction: column-reverse;
	position: fixed;
	margin-top: -100px;
}

.activity_check .servers:hover .select_server {
	display: flex;
}

.activity_check .player_button {
	display: flex;
	align-items: center;
	background: transparent;
	border: 0;
	cursor: pointer;
}

.activity_check .server_list, .server {
	width: 140px;
	height: 25px;
	color: #D0D0D0;
	background: #303030;
	border: 0;
}

.activity_check .activity_window {
	height: calc(95vh - 52px);
	display: flex;
	color: #DEDEDE;
	justify-content: center;
    align-items: center;
}

.activity_check .left_side {
	height: 681px;
	width: 342px;
}

.activity_check .right_side {
	height: 681px;
	width: 1000px;
	margin-left: 50px;
}

.activity_check .statistic {
	height: 40px;
	display: flex;
	align-items: center;
	text-align: center;
}

.activity_check .player_list {
	height: 639px;
}

.activity_check .activity_list {
	height: 599px;
	padding-top: 0px;
}

.activity_check .player_list, .activity_list {
	border: 1px solid #888;
	overflow-y: auto;
}

.activity_check .activity_player {
	border-top: 1px solid #888;
	text-align: center;
}

.activity_check .player, .activity_player {
	display: flex;
	align-items: center;
}

.activity_check .player {
	width: 320px;
	margin: 5px;
	margin-left: 6px;
}

.activity_check .player_list .player_button {
	margin-top: 5px;
}

.activity_check .player img {
	height: 64px;
	width: 64px;
}

.activity_check .player .name {
	margin-left: 10px;
	font-size: 25px;
}

.activity_check .arrow {
	display: none;
	color: #BBB;
	font-size: 25px;
	margin-left: auto;
	margin-right: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

.activity_check .player_button:hover .arrow {
	display: block;
}

.activity_check .player_button:hover {
	background: #292929;
}

.activity_check .total {
	width: 80px;
}

.activity_check .activity_player .total {
	width: 79px;
}

.activity_check .avg {
	width: 50px;
}

.activity_check .ban {
	width: 70px;
}

.activity_check .kick {
	width: 70px;
}

.activity_check .mute {
	width: 70px;
}

.activity_check .warn {
	width: 70px;
}

.activity_check .pm {
	width: 70px;
}

.activity_check .global {
	width: 70px;
}

.activity_check .local {
	width: 70px;
	margin-left: auto;
}

.base a {
    text-decoration: none;
    color: #DEDEDE;
}

.base .navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
    height: 50px;
    background: #2A2A2A;
}

.base .navbar_button {
	height: 30px;
	width: fit-content;
	color: #BBBBBB;
	font-size: 15px;
	margin-right: 50px;
	margin-left: 5px;
	background: transparent;
	border: 0;
}

.base .navbar_button:hover {
	color: white;
	cursor: pointer;
}

.base .ob1lab_index {
	margin-right: auto;
	margin-left: 30px;
}

.base .ob1lab_index .navbar_button {
	color: white;
	font-size: 20px;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #BBBBBB;
}

::-webkit-scrollbar-thumb:hover {
	background: white;
	cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #151515;
}

.error .error_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    font-size: 30px;
    font-weight: bold;
    color: red;
    justify-content: center;
    align-items: center;
}

.error .index_text p {
    width: 1000px;
    margin-top: 30px;
}

.index .index_text {
    display: flex;
    height: 70vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.index .index_text p {
    width: 1000px;
    color: #DEDEDE;
}

.login .authorization {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    color: #DEDEDE;
}

.login .authorization input, .authorization button {
	margin-top: 5px;
    border: 1px solid #999;
    line-height: 48px;
    height: 48px;
    padding: 0px 16px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF10;
    color: #DEDEDE;
    outline: none;
    font-size: 20px;
}

.login .authorization input:hover, .authorization button:hover {
	border: 1px solid white;
}

.login .authorization button:hover {
	background: #FFFFFF20;
    cursor: pointer;
}

.private_logs span {
	color: #555
}

.private_logs .logs {
	height: calc(100vh - 54px);
	margin-left: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.profile img {
	width: 128px;
	height: 128px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile div {
	color: white;
}

.profile .profile {
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.profile .statistic {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	font-size: 14px;
}

.profile .name {
	font-size: 30px;
}

.profile .rank {
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: auto;
}

.profile .register {
	color: #BBB;
	justify-content: end;
}

.public_logs .logs {
	height: calc(100vh - 54px);
	color: #BBB;
	margin-left: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.public_logs_dates h1 {
	color: white;
	margin-top: 10px;
	margin-left: 20px;
}

.log_dates {
	overflow-y: auto;
	height: calc(100vh - 101px);
}

.log_date a {
	font-size: 15px;
	margin-left: 5px;
}

.log_date a:hover {
	color: white;
}

.public_logs_servers .select_server_menu {
	height: 65vh;
	display: flex;
	justify-content: center;
    align-items: center;
}

.public_logs_servers .server_list {
	color: white;
	text-align: center;
}

.public_logs_servers .servers {
	margin-top: 15px;
}

.admin_panel .select_list {
    height: calc( 80vh - 52px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin_panel button {
    width: 410px;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #999;
    line-height: 48px;
    height: 48px;
    background: #FFFFFF10;
    color: #DEDEDE;
    outline: none;
    font-size: 20px;
}

.admin_panel button:hover {
    background: #FFFFFF20;
    border: 1px solid white;
}

.edit_roles .activity_list {
    height: 639px;
    display: grid;
  	grid-template-columns: 300px 300px 300px;
  	grid-auto-rows: 40px;
  	column-gap: 45px;
}

.edit_roles .player_list {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.edit_roles .permission {
	height: 25px;
	display: flex;
    align-items: center;
    margin-top: 12px;
}

.edit_roles .permission input {
	width: 25px;
	height: 25px;
}

.edit_roles .permission label {
	margin-left: 10px;
}

.edit_roles .player_list button {
	font-size: 20px;
	height: 35px;
	min-height: 35px;
	width: 310px;
	margin-top: 10px;
	background: #292929;
    color: #DEDEDE;
    cursor: pointer;
    border: 0;
}

.edit_roles .player_list button:hover {
	background: #404040;
}

.edit_roles #selected_role {
	background: #404040;
}

.edit_roles .modal {
	position: fixed;
	display: flex;
	justify-content: center;
    align-items: center;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}

.edit_roles .modal_window_create {
	color: #DEDEDE;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	width: 500px;
	height: 240px;
	background: #202020;
	margin-bottom: 250px;
}

.edit_roles .modal_window_create input, .edit_roles .modal_window_create button {
	margin-top: 25px;
    border: 1px solid #999;
    line-height: 48px;
    height: 48px;
    padding: 0px 16px;
    width: 400px;
    box-sizing: border-box;
    background: #FFFFFF10;
    color: #DEDEDE;
    outline: none;
    font-size: 20px;
    margin-left: 0;
}

.edit_roles .modal_window_create input:hover, .edit_roles .modal_window_create button:hover {
	border: 1px solid white;
}

.edit_roles .modal_window_create button:hover {
	cursor: pointer;
}

.edit_roles .delete {
	color: #AC0000;
	background: #FFFFFF10;
	font-size: 16px;
	width: 300px;
	height: 30px;
	margin-top: 8px;
	border: 0;
}

.edit_roles .delete:hover {
	background: #404040;
	cursor: pointer;
}
