* {
	margin: 0;
	padding: 0;
}

#techadmin {
	color: #00CCFF;
}

#admin {
	color: red;
}

#curator {
	color: red;
}

#gm {
	color: #0183D7;
}

#stmoder {
	color: #446CB3;
}

#moder {
	color: #9400d3
}

#helper2 {
	color: #26a65b;
}

#helper1 {
	color: #51cf89
}

.close_output_data {
	width: 30px;
	height: 30px;
	background-color: transparent;
	color: white;
	border: 1px solid black;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
}

.activity_table {
	height: 30px;
	display: flex;
	width: 100%;
	margin-bottom: -1px;
	background-color: #202020;
}

.activity_table div {
	color: white;
	border: 1px solid black;
	border-right: 0;
	width: 100%;
	text-align: center;
	font-size: 22px;
}

.output_data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 101;
}

.view_result {
	height: 27px;
	width: 252px;
	background-color: transparent;
	color: white;
	border: 1px solid #00CCFF;
	outline: none;
}

.output_data table {
	color: white;
	background-color: #202020;
	border-collapse: collapse; 
	border: 1px solid black;
	text-align: center;
}

.output_data table td {
	border: 1px solid black;
	white-space: nowrap;
	min-width: 50px;
	height: 40px;
	padding-left: 7px;
	padding-right: 7px;
}


.dates {
	margin-top: 5px;
	width: 252px;
	display: flex;
	justify-content: space-between;
}

.dates .separator {
	color: white;
	font-size: 25px;
}

.dates input {
	height: 25px;
	padding-left: 5px;
	background-color: transparent;
	-webkit-text-fill-color: white;
	border: 1px solid #00CCFF;
	outline: 0;
	width: 100px;
}

::-webkit-input-placeholder {
   text-align: center;
   color: white;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #00CCFF;
}

::-webkit-scrollbar-thumb:hover {
	background: #009C9C;
	cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
	background: #018D8D;
}

::-webkit-scrollbar-track {
    background-color: #003B3B;
}

::-webkit-calendar-picker-indicator {
	color-scheme: dark;
	margin-top: 3px;
	padding-right: 5px;
	cursor: pointer;
}

.autocom_box {
	display: flex;
	flex-direction: column;
	max-height: 175px;
	overflow-y: auto;
	background-color: #202020;
	width: 250px;
	border: 1px solid #00CCFF;
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-bottom: 5px;
	z-index: 100;
	position: fixed;
	border-radius: 0;
}

.server_list {
	display: flex;
	flex-direction: column;
	max-height: 175px;
	background-color: #202020;
	width: 250px;
	border: 1px solid #00CCFF;
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: 100;
	position: fixed;
	border-radius: 0;
}

#deactive {
	opacity: 0;
	pointer-events: none;
}

#active {
	opacity: 1;
	pointer-events: auto;
}

.activity_box {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.activity_box .window {
	width: fit-content;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search_list {
	width: 252px;
}

.activity_box .search_input {
	margin-top: 5px;
	height: 25px;
	width: 250px;
	background-color: transparent;
	border: 1px solid #00CCFF;
	color: white;
	text-align: center
}

.activity_box .search_input:focus {
	outline: none;
	placeholder: none;
}

.activity_box .search_input:focus::placeholder {
	opacity: 0;
}

.get_players {
	width: 250px;
	height: 208px;
	border: 1px solid #00CCFF;
	overflow-y: auto;
}

.get_players .player {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.autocom_box .player {
	display: flex;
	align-items: center;
	border: 0;
	min-height: 30px;
	background-color: transparent;
}

.autocom_box .player .avatar {
	background-size: cover;
	margin-left: 3px;
    width: 25px;
    height: 25px;
}

.autocom_box button {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	height: 30px;
}

.server_selected {
	margin-top: 5px;
	width: 252px;
	height: 27px;
	background-color: transparent;
	color: white;
	border: 1px solid #00CCFF;
}

.server_list .server {
	height: 40px;
	display: flex;
	align-items: center;
	background-color: transparent;
	color: white;
	border-bottom: 0;
	outline: 0;
	border: 0;
}

.server_list .avatar {
	background-size: cover;
	height: 30px;
	width: 30px;
	margin-left: 5px;
}

.server_list .name {
	margin-top: 2px;
	font-size: 16px;
	padding-left: 10px;
}

.server:hover {
	background-color: rgba(255, 255, 255, 0.14);
	cursor: pointer;
}

.server:active {
	background-color: rgba(255, 255, 255, 0.17);
}

.server_selected:hover {
	background-color: rgba(255, 255, 255, 0.14);
	cursor: pointer;
}

.server_selected:active {
	background-color: rgba(255, 255, 255, 0.17);
}

.autocom_box button:hover {
	background-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
}

.autocom_box .player .name {
	margin-left: 5px;
	font-size: 20px;
}

.get_players .player .avatar {
	background-size: cover;
    width: 30px;
    height: 30px;
}

.get_players .player .name {
	margin-left: 5px;
	font-size: 20px;
}

.get_players .player button {
	width: 25px;
	height: 25px;
	margin-left: auto;
	margin-right: 10px;
	background-color: transparent;
	color: white;
	border: 0;
	font-size: 24px;
}

.get_players .player button:hover{
	background-color: #7B0000;
	cursor: pointer;
}

.start_button {
	width: 252px;
	margin-top: 5px;
	border: 1px solid #00CCFF;
	background-color: transparent;
	color: white;
	height: 30px;
	outline: none;
}

.start_button:hover {
	background-color: rgba(255, 255, 255, 0.14);
	cursor: pointer;
}

.start_button:active {
	background-color: rgba(255, 255, 255, 0.17);
}

.view_result:hover {
	background-color: rgba(255, 255, 255, 0.14);
	cursor: pointer;
}

.view_result:active {
	background-color: rgba(255, 255, 255, 0.17);
}

.close_output_data:hover {
	background-color: rgba(255, 255, 255, 0.14);
	cursor: pointer;
}

.close_output_data:active {
	background-color: rgba(255, 255, 255, 0.17);
}

body {
	background-color: #202020;
	background-image: url(images/4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
