{% if request.method == "GET" %}
    {% extends "base.html" %}

    {% block content %}
        <hr>
        <div class="error">
            <div class="error_text">
                <img src="{{ url_for('static', filename='css/images/5.jpg') }}">
                <div style="height: 50px"></div>
                <p>{{ title }}<br>{{text}}</p>
            </div>
        </div>
    {% endblock %}
{% else %}
    <div class="title">{{ title }}</div>
    <hr>
    <div class="error">
        <div class="error_text">
            <img src="{{ url_for('static', filename='css/images/5.jpg') }}">
            <div style="height: 50px"></div>
            <p>{{ title }}<br>{{text}}</p>
        </div>
    </div>
{% endif %}
