{% if request.method == "GET" %}
    {% extends "base.html" %}

    {% block content %}
        <hr>
        <div class="login">
            <div class="authorization">
                <h1>Авторизация</h1>
                <form action="" method="post"  novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        <label>Login</label><br>
                        {{ form.username(size=32) }}<br>
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                    </p>
                    <button type="submit">Авторизоваться</button>
                </form>
            </div>
        </div>
    {% endblock %}
{% else %}
    <div class="title">{{ title }}</div>
    <hr>
    <div class="login">
        <div class="authorization">
            <h1>Авторизация</h1>
            <form action="" method="post"  novalidate>
                {{ form.hidden_tag() }}
                <p>
                    <label>Login</label><br>
                    {{ form.username(size=32) }}<br>
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                </p>
                <button type="submit">Авторизоваться</button>
            </form>
        </div>
    </div>
{% endif %}
