{% if request.method == "GET" %}

    {% extends "base.html" %}

    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    {% endblock %}

    {% block content %}
        <div class="profile">
            <hr>
            <div class="profile">
                <img src="{{ path_image }}">
                <div class="statistic">
                    <div class="name">{{ name }}</div>
                    <div class="rank" style="color: {{ color }}">{{ rank }}</div>
                    <div class="register">Время регистрации: {{ register_time }}</div>
                </div>
            </div>
            <hr>
        </div>
    {% endblock %}
{% else %}
    <div class="title">{{ title }}</div>
    <div class="profile">
        <hr>
        <div class="profile">
            <img src="{{ path_image }}">
            <div class="statistic">
                <div class="name">{{ name }}</div>
                <div class="rank" style="color: {{ color }}">{{ rank }}</div>
                <div class="register">Время регистрации: {{ register_time }}</div>
            </div>
        </div>
        <hr>
    </div>
{% endif %}
