{% if request.method == "GET" %}
    {% extends "base.html" %}

    {% block content %}
        <hr>
        <div class="public_logs">
            <div class="logs">
                <pre style="word-wrap: break-word; white-space: pre-wrap;">{{ logs }}</pre>
            </div>
            <hr>
        </div>
    {% endblock %}
{% else %}
    <div class="title">{{ title }}</div>
    <hr>
    <div class="public_logs">
        <div class="logs">
            <pre style="word-wrap: break-word; white-space: pre-wrap;">{{ logs }}</pre>
        </div>
        <hr>
    </div>
{% endif %}
